.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.container {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  /* background-color: #f1f1f1; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-block {
  --mdb-btn-margin-top: 1rem;
  display: block;
  width: 100%;
}

.text-center-p {
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  text-align: center;
}

