

<!-- <div class="container-fluid"> -->
  <div class="row justify-content-center mt-1">
    <!-- <div class="col-1"></div> -->
      <div class="col-2">
          <div class="dash-card shadow rounded">
              <div class="card-body">
                <p style="font-weight: bolder;">Plant</p>
                <div>
                  <select class="form-control custom-select" placeholder="Select Options">
                    <option value="" disabled selected>- All -</option>
                    <option>Chennai</option>
                    <option>Pune</option>
                  </select>
                </div>
              </div>
          </div>
      </div>
      <div class="col-2">
          <div class="dash-card shadow rounded">
              <div class="card-body">
                <p style="font-weight: bolder;">Shopfloor</p>
                <div>
                  <select class="form-control custom-select" placeholder="Select Options">
                    <option value="" disabled selected>- All -</option>
                    <option>Piston</option>
                    <option>Axle</option>
                  </select>
                </div>
              </div>
          </div>
      </div>
      <div class="col-2">
        <div class="dash-card shadow rounded">
            <div class="card-body">
              <p style="font-weight: bolder;">Assembly Line</p>
              <div>
                <select class="form-control custom-select" placeholder="Select Options">
                  <option value="" disabled selected>- All -</option>
                  <option>Line 1</option>
                  <option>Line 2</option>
                </select>
              </div>
            </div>
        </div>
      </div>
      <div class="col-2">
          <div class="dash-card shadow rounded">
              <div class="card-body">
                <p style="font-weight: bolder;">Machine ID</p>
                <div>
                  <select class="form-control custom-select" placeholder="Select Options">
                    <option value="" disabled selected>- All -</option>
                    <option>SP01</option>
                    <option>SP02</option>
                  </select>
                </div>
              </div>
          </div>
      </div>
      <div class="col-2">
          <div class="dash-card shadow rounded">
              <div class="card-body">
                <p style="font-weight: bolder;">Product ID</p>
                <select class="form-control custom-select" placeholder="Select Options">
                  <option value="" disabled selected>- All -</option>
                  <option>FASTNER123</option>
                  <option>FASTNER124</option>
                </select>
              </div>
          </div>
      </div>
    <!-- <div class="col-1"></div> -->
  </div>
<!-- </div> -->






<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-12">
      <div class="container-wide">
        <div class="scale">
          <p class="mt-1">Shift A - 6:00 AM TO 2:00 PM</p>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar-green" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
              <div class="progress-bar-red" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
            </div>
            <div class="progress mt-2">
              <div class="progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 46%">46%</div>
              <div class="progress-bar-blue" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 34%">34%</div>
              <div class="progress-bar-purple" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 20%">20%</div>
            </div>
            <div class="bar-info">
              <div class="bar-info-item">Running</div>
              <div class="bar-info-item">Breakdown</div>
              <div class="bar-info-item">Electrical Failure</div>
              <div class="bar-info-item">Mechanical Failure</div>
              <div class="bar-info-item">Others</div>
            </div>
          </div>
          <!-- <div class="col-2 custom-table-container">
            <table>
              <tr>
                <td style="font-size: smaller; background-color:gray">ID</td>
                <td style="font-size: smaller; background-color:gray">Date</td>
                <td style="font-size: smaller; background-color:gray">Shift</td>
                <td style="font-size: smaller; background-color:gray">OEE</td>
                <td style="font-size: smaller; background-color:gray">Details</td>
              </tr>
              <tr>
                <td style="font-size: smaller;">2345</td>
                <td style="font-size: smaller;">18/06/23</td>
                <td style="font-size: smaller;">A</td>
                <td style="font-size: smaller;">87%</td>
                <td style="font-size: smaller;"><i class="fa-solid fa-eye fa-xs"></i></td>

              </tr>
            </table>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>






<table class="table table-bordered table-striped table-sm vertically-striped-columns mt-2 text-center table-with-black-border" style="font-weight: bold;">
  <thead class="thead">
    <tr>
      <th scope="col">PLANT</th>
        <th scope="col">SHOPFLOOR</th>
        <th scope="col">ASSEMBLY LINE</th>
        <th scope="col">MACHINE ID</th>
        <th scope="col">PRODUCT ID</th>
        <th scope="col">DATE</th>
        <th scope="col">M/C ON HOURS</th>
        <th scope="col">M/C IDLE HOURS</th>
        <th scope="col">ACTUAL</th>
        <th scope="col">TARGET</th>
        <th scope="col">PERFORMANCE</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>CHENNAI</td>
        <td>XYZ</td>
        <td>TSE</td>
        <td>TSE-001</td>
        <td>CASSEROLES</td>
        <td>01-10-2023</td>
        <td>1320</td>
        <td>120</td>
        <td>1224</td>
        <td>1440</td>
        <td style="background-color: red;">85 %</td>
      </tr>
      <tr>
        <td>CHENNAI</td>
        <td>XYZ</td>
        <td>TSE</td>
        <td>TSE-001</td>
        <td>CASSEROLES</td>
        <td>01-10-2023</td>
        <td>1440</td>
        <td>0</td>
        <td>1354</td>
        <td>1440</td>
        <td style="background-color: GREEN;">94 %</td>
      </tr>
      <tr>
        <td>CHENNAI</td>
        <td>XYZ</td>
        <td>TSE</td>
        <td>TSE-001</td>
        <td>CASSEROLES</td>
        <td>01-10-2023</td>
        <td>1400</td>
        <td>76</td>
        <td>1324</td>
        <td>1440</td>
        <td style="background-color: yellow;">91.9 %</td>
      </tr>
  </tbody>
</table>



<!-- <div class="mt-2">
  <p-table
  [value]="dummyList"
  class="p-datatable-sm"
  styleClass="p-datatable-sm p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '20rem', 'font-size': 'x-small', 'color': 'black' }"
  [scrollable]="true"
  >
  <ng-template pTemplate="header">
    <tr class="text-size header-row" [ngStyle]="{'font-weight': 'bold', 'color': 'black'}">
        <th scope="col">PLANT</th>
        <th scope="col">SHOPFLOOR</th>
        <th scope="col">ASSEMBLY LINE</th>
        <th scope="col">MACHINE ID</th>
        <th scope="col">PRODUCT ID</th>
        <th scope="col">DATE</th>
        <th scope="col">M/C ON HOURS</th>
        <th scope="col">M/C IDLE HOURS</th>
        <th scope="col">ACTUAL</th>
        <th scope="col">TARGET</th>
        <th scope="col">PERFORMANCE</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body">
    <tr class="text-size data-row" [ngStyle]="{'color': 'black'}">
        <td>CHENNAI</td>
        <td>XYZ</td>
        <td>TSE</td>
        <td>TSE-001</td>
        <td>CASSEROLES</td>
        <td>01-10-2023</td>
        <td>1320</td>
        <td>120</td>
        <td>1224</td>
        <td>1440</td>
        <td style="background-color: yellow;">85 %</td>
      </tr>
      <tr>
        <td>CHENNAI</td>
        <td>XYZ</td>
        <td>TSE</td>
        <td>TSE-001</td>
        <td>CASSEROLES</td>
        <td>01-10-2023</td>
        <td>1440</td>
        <td>0</td>
        <td>1354</td>
        <td>1440</td>
        <td style="background-color: GREEN;">94 %</td>
      </tr>
      <tr>
        <td>CHENNAI</td>
        <td>XYZ</td>
        <td>TSE</td>
        <td>TSE-001</td>
        <td>CASSEROLES</td>
        <td>01-10-2023</td>
        <td>1400</td>
        <td>76</td>
        <td>1324</td>
        <td>1440</td>
        <td style="background-color: yellow;">85 %</td>
      </tr>
  </ng-template>
  </p-table>
  </div> -->
