<div class="search-bar d-flex mt-2">
  <button type="button" routerLink="/admin" class="btn btn-secondary ml-2 d-flex align-items-center" >
    <i class="fas fa-chevron-left"></i> Back
  </button>
  <input class="form-control ml-1" placeholder="Search">
  <button type="button" class="btn btn-outline-primary ml-2 d-flex align-items-center" data-toggle="modal" data-target="#importModalCenter">
    <i class="fas fa-file-import mr-2"></i> Import
  </button>
  <button type="button" class="btn btn-outline-primary ml-2 d-flex align-items-center" data-toggle="modal" data-target="#exportModalCenter">
    <i class="fas fa-download mr-2"></i> Export
  </button>
  <button type="button" class="btn btn-primary ml-2 mr-1 d-flex align-items-center" data-toggle="modal" data-target="#exampleModal"
  (click)="addClick()" data-backdrop="static" data-keyboard="false" style="width: 290px;"><i class="fas fa-plus mr-2"></i>Create New Product</button>
</div>
<table class="table table-striped table-hover" style="text-align: center;">
    <thead>
      <tr style="background-color: #2b6099; color: white;">
      <th>#</th>
      <th>Batch Name</th>
      <th>Options</th>
      <!-- Add more header columns if needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of batchList; let i = index">
      <td>{{ i + 1 }}</td>
      <!-- <td>{{ dataItem.productId }}</td> -->
      <td>{{ dataItem.batch_name }}</td>
      <td>
        <button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal"
          (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" class="btn btn-light mr-1"
              data-toggle="modal" data-target="#viewModalCenter"
              data-backdrop="static" data-keyboard="false"><i class="fa-solid fa-eye fa-sm"></i></button>
        <button type="button" class="btn btn-danger mr-1" (click)="deleteClick(dataItem.productId)"
          data-backdrop="static" data-keyboard="false">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
