
<!-- <h1>Monthly analysis</h1> -->

<div class="row">
  <div class="col-md-4">
    <div class="chartContainer">
      <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels" [title]="chartTitle" [dataLabels]="chartDataLabels"></apx-chart>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chartContainer">
      <apx-chart [series]="chartSeries2" [chart]="chartDetails2" [labels]="chartLabels2" [title]="chartTitle2" [dataLabels]="chartDataLabels2"></apx-chart>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chartContainer">
      <apx-chart [series]="chartSeries3" [chart]="chartDetails3" [labels]="chartLabels3" [title]="chartTitle3" [dataLabels]="chartDataLabels3"></apx-chart>
    </div>
  </div>
</div>


<div class="col-12">
  <div>
    <div class="barchartContainer">
      <apx-chart [series]="chartSeries4" [chart]="chartDetails4" [labels]="chartLabels4" [title]="chartTitle4" [dataLabels]="chartDataLabels"></apx-chart>
    </div>
  </div>
</div>
