
<!-- Display the current shift and its corresponding time -->
<!-- <div class="scale text-center" style="font-size: large; font-weight: bolder;">
  <p class="mt-2">SHIFT {{ currentShift }} - {{ currentTime | date:'shortTime' }}</p>
</div> -->

<div class="scale text-center" style="font-size: large; font-weight: bolder;">
  <p class="mt-2">Wipro GE Healthcare Limited</p>
  <p>SVCT LINE - SHIFT A (06 TO 14)</p>
</div>

<!-- Display the real-time clock -->
<!-- <div class="clock">
  {{ currentTime | date:'mediumTime' }}
</div> -->



<div class="container-fluid mt-1">
  <div class="row d-flex">
    <div class="col">
      <div class="card custom-card shadow">
        <div class="card-body">
          <div class="container justify-content-center text-center">
            <h5 class="card-title" style="text-align: center; font-weight: bolder; font-stretch: expanded; font-size:medium ; color: darkmagenta;">SUB-ASSEMBLY LINE</h5>
            </div>
            <div class="container shadow custom-card">
            <div class="row justify-content-center card-inside">
              <div class="col box">
                <p>14</p>
                <p style="color: blue;">Planned</p>
              </div>
              <div class="col box">
                <p>12</p>
                <p style="color: blue;">Check In</p>
              </div>
              <div class="col box">
                <p><span class="red-round"></span></p>
                <p style="color: blue;">Status</p>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card custom-card shadow">
        <div class="card-body">
          <div class="container justify-content-center text-center mb-2">
          <h5 class="card-title" style="text-align: center; font-weight: bolder; font-stretch: expanded; font-size:medium ; color: rgb(146, 61, 29);">ASSEMBLY LINE </h5>
          </div>
          <div class="container shadow custom-card">
          <div class="row justify-content-center card-inside">
            <div class="col box">
              <p>04</p>
              <p style="color: blue;">Planned</p>
            </div>
            <div class="col box">
              <p>03</p>
              <p style="color: blue;">Check In</p>
            </div>
            <div class="col box">
              <p><span class="yellow-round"></span></p>
              <p style="color: blue;">Status</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card custom-card shadow">
        <div class="card-body">
          <div class="container justify-content-center text-center">
            <h5 class="card-title" style="text-align: center; font-weight: bolder; font-stretch: expanded; font-size:medium ; color: darkblue;">INSTALLATION & TESTING LINE </h5>
            </div>
            <div class="container shadow custom-card">
            <div class="row justify-content-center card-inside">
              <div class="col box">
                <p>09</p>
                <p style="color: blue;">Planned</p>
              </div>
              <div class="col box">
                <p>09</p>
                <p style="color: blue;">Check In</p>
              </div>
              <div class="col box">
                <p><span class="green-round"></span></p>
                <p style="color: blue;">Status</p>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


