

<!-- Admin Configuration Box -->
<div class="col-md-12">
  <h3 class="big-card text-center l-bg-light " style="font-size: 1.5rem;">Andon Production</h3>
  <div class="row mb-5">
    <!-- Cards -->
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/pp2" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-calendar-alt"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title"> Production Planning</h5>
            <p class="card-subtitle">Manage Production</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat the above card for the remaining 24 cards -->
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/lmch" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Line & Machine Configuration</h5>
            <p class="card-subtitle">Manage Config</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/lmch" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-history"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Line & Machine Transaction</h5>
            <p class="card-subtitle">Gathering All The Data</p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/qc" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-check-square"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Quality Control</h5>
            <p class="card-subtitle">Manage Quality</p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/qch" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Quality Control Transaction</h5>
            <p class="card-subtitle">Gathering All The Data</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/rah" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Resource Allocation</h5>
            <p class="card-subtitle">Manage Resources</p>
          </div>
          <!-- <div class="text-center"><button class="btn btn-primary w-100 mt-2">Add/Edit Employee</button></div> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/oee" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Analysis</h5>
            <p class="card-subtitle">Gathering All The Data</p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/todo" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">TODOS</h5>
            <p class="card-subtitle">Create and Manage TODOS</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/att" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Attendance</h5>
            <p class="card-subtitle">Manage Attendance</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/ss" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Shift Strength</h5>
            <p class="card-subtitle">Manage Shift Strength</p>
          </div>
        </div>
      </div>
    </div>
