


<!-- Admin Configuration Box -->
<div class="col-md-12">
  <h3 class="big-card text-center l-bg-light " style="font-size: 1.5rem;">Andon Management</h3>
  <div class="row mb-5">
    <!-- Cards -->
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/andon" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-check-square"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title"> Andon Call help</h5>
            <p class="card-subtitle">Create and Manage Andon</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat the above card for the remaining 24 cards -->
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/bd" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Shopfloor Wise Breakdown</h5>
            <p class="card-subtitle">Manage Breakdowns</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/categorywise" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Category Wise Breakdown</h5>
            <p class="card-subtitle">Manage Breakdowns</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/alert" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Alerts Report</h5>
            <p class="card-subtitle">Manage Alerts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/alert2" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-minus-square"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Alerts With OEE</h5>
            <p class="card-subtitle">Manage Alerts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/line" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Assembly Line Analysis</h5>
            <p class="card-subtitle">Gathering All The Data</p>
          </div>
          <!-- <div class="text-center"><button class="btn btn-primary w-100 mt-2">Add/Edit Employee</button></div> -->
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/oee" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Analysis</h5>
            <p class="card-subtitle">Gathering All The Data</p>
          </div>
          <!-- <div class="text-center"><button class="btn btn-primary w-100 mt-2">Add/Edit Employee</button></div> -->
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/todo" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">TODOS</h5>
            <p class="card-subtitle">Create and Manage TODOS</p>
          </div>
        </div>
      </div>
    </div>
