

<!-- <div class="container d-flex justify-content-center flex-wrap">
  <div class="col-xl-6 col-lg-12 mb-4 mx-4">
    <div class="card l-bg-cherry rounded">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-user-plus"></i>
        </div>
        <div class="mb-4 text-center">
          <h4 class="card-title mb-0">Register Users</h4>
          <br>
          <p class="card-subtitle">Create and Manage Users</p>
        </div>
        <div class="text-center">
          <button routerLink="/signup" class="btn btn-primary w-100 mt-3">Add/Edit Users</button>
        </div>
      </div>
    </div>
  </div>

<div class="container d-flex justify-content-center">
  <div class="col-xl-3 col-lg-6 mb-4 mx-4">
    <div class="card l-bg-orange rounded">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-users"></i>
        </div>
        <div class="mb-4 text-center">
          <h4 class="card-title mb-0">Employees</h4>
          <br>
          <p class="card-subtitle">Create and Manage <br> Employees </p>
        </div>
        <div class="text-center">
          <button routerLink="/employee" class="btn btn-primary w-100 mt-3">Add/Edit Employee</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 mb-4 mx-4">
    <div class="card l-bg-blue-dark rounded">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-building"></i>
        </div>
        <div class="mb-4 text-center">
          <h4 class="card-title mb-0">Companies</h4>
          <br>
          <p class="card-subtitle">Create and Manage <br> Companies </p>
        </div>
        <div class="text-center">
          <button routerLink="/company" class="btn btn-primary w-100 mt-3">Add/Edit Company</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 mb-4 mx-4">
    <div class="card l-bg-green rounded">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-address-card"></i>
        </div>
        <div class="mb-4 text-center">
          <h4 class="card-title mb-0">Departments</h4>
          <br>
          <p class="card-subtitle">Create and Manage Departments</p>
        </div>
        <div class="text-center">
          <button routerLink="/department" class="btn btn-primary w-100 mt-3">Add/Edit Department</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 mb-4 mx-4">
    <div class="card l-bg-cyan rounded">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-briefcase"></i>
        </div>
        <div class="mb-4 text-center">
          <h4 class="card-title mb-0">Designations</h4>
          <br>
          <p class="card-subtitle">Create and Manage Designations</p>
        </div>
        <div class="text-center">
          <button routerLink="/designation" class="btn btn-primary w-100 mt-3">Add/Edit Designation</button>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- Admin Configuration Box -->
<div class="col-md-12">
  <h3 class="big-card text-center l-bg-light " style="font-size: 1.5rem;">Admin Configuration</h3>
  <div class="row mb-2">
    <!-- Cards -->
    <!-- <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/oee" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Analysis</h5>
            <p class="card-subtitle">Gathering All The Data</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/breakdown" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Breakdown</h5>
            <p class="card-subtitle">Manage Breakdowns</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/categorywise" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Category Wise Breakdown</h5>
            <p class="card-subtitle">Manage Breakdowns</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/todo" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">TODOS</h5>
            <p class="card-subtitle">Create and Manage TODOS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/alert" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Alerts</h5>
            <p class="card-subtitle">Manage Alerts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/alert2" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-minus-square"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Alerts With OEE</h5>
            <p class="card-subtitle">Manage Alerts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/andon" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-check-square"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title"> Andon</h5>
            <p class="card-subtitle">Create and Manage Andon</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cog"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Andon Settings</h5>
            <p class="card-subtitle">Manage Andon Settings</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/company" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-building"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Company</h5>
            <p class="card-subtitle">Create and Manage Companies</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/location" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-industry"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Plant / Location</h5>
            <p class="card-subtitle">Create and Manage Locations</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/shopfloor" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-store"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Shop Floor</h5>
            <p class="card-subtitle">Create and Manage Shop Floors</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/assemblyline" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-industry"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Assembly Line</h5>
            <p class="card-subtitle">Create and Manage Assembly Lines</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/sal" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Sub-Assembly Line</h5>
            <p class="card-subtitle">Create and Manage Sub-Assembly Lines</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/machine-id" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cog"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Machine ID</h5>
            <p class="card-subtitle">Create and Manage Machines</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/product-id" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-barcode"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Product ID</h5>
            <p class="card-subtitle">Create and Manage Products</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/pr" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-utensils"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Product Recipe</h5>
            <p class="card-subtitle">Create and Manage Product Recipes</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/bdc" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-tools"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Breakdown Category</h5>
            <p class="card-subtitle">Create and Manage Breakdown Categories</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/sbdc" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-wrench"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Sub-Breakdown Category</h5>
            <p class="card-subtitle">Create and Manage Sub-Breakdown</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/department" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-building"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Department</h5>
            <p class="card-subtitle">Create and Manage Departments</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/designation" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-id-badge"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Designation</h5>
            <p class="card-subtitle">Create and Manage Designations</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cubes"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Division</h5>
            <p class="card-subtitle">Create and Manage Divisions</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/emp2" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cubes"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Employee</h5>
            <p class="card-subtitle">Create and Manage Employees</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/shift" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-clock"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Shift</h5>
            <p class="card-subtitle">Create and Manage Employees</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/skill" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-chart-bar"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Skill Matrix</h5>
            <p class="card-subtitle">Create and Manage Employees</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Communication</h5>
            <p class="card-subtitle">Start and Manage Communications</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-user"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title"> Customer</h5>
            <p class="card-subtitle">Create and Manage Employees</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-truck"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Supplier</h5>
            <p class="card-subtitle">Create and Manage Employees</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-project-diagram"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Project / Purchase Order</h5>
            <p class="card-subtitle">Create and Manage Employees</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-user-clock"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Attendance Business Rules</h5>
            <p class="card-subtitle">Manage Business Rules</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/deviceconfig" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Device Configuration</h5>
            <p class="card-subtitle">Manage Configurations</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/apikey" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-key"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">API Key Configuration</h5>
            <p class="card-subtitle">Manage API Key Configurations</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/att" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Attendance</h5>
            <p class="card-subtitle">Manage Attendance</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/ss" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Shift Strength</h5>
            <p class="card-subtitle">Manage Shift Strength</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/batch" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">Batch</h5>
            <p class="card-subtitle">Manage Batch Names</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-2">
      <div routerLink="/pono" class="card l-bg-light-gray rounded card-small-width">
        <div class="card-statistic-3 p-2">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="mb-2 text-center">
            <h5 class="card-title">PO NO</h5>
            <p class="card-subtitle">Manage PO Numbers</p>
          </div>
        </div>
      </div>
    </div>




    <!-- <footer class="bg-white text-center text-lg-start container-fluid">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="" style="font-weight: bold;">  Getin Solution</a>
      </div>
    </footer> -->


    <footer class="bg-white text-center text-lg-start container-fluid fixed-bottom">
      <!-- Copyright -->
      <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Getin Solution
      </div>
      <!-- Copyright -->
    </footer>

