.dash-card {
  text-align: center;
  cursor: pointer;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(106, 133, 160);
  margin: 0.5em;
  font-size: medium;
  padding-top: 17px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.dash-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
}

.table {
  font-size: x-small;
}

.small-calendar {
  width: 150px; /* Adjust the width as needed */
  font-size: small; /* Adjust the font size as needed */
}

.label {
  font-weight: bold;
}

.header-row {
  font-weight: bold;
  color: black; /* Change to the desired color */
}

.data-row {
  color: black; /* Change to the desired color */
}
